In [9]:
import numpy as np
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier

def minmax(x):
    u = (x-min(x))/(max(x)-min(x))
    return u

# Wrangle data:
df = pd.read_csv('../../data/cars_hw.csv') # Load your data 
df.head()

,Unnamed: 0,Make,Make_Year,Color,Body_Type,Mileage_Run,No_of_Owners,Seating_Capacity,Fuel_Type,Transmission,Transmission_Type,Price
0,1,Volkswagen,2017,silver,sedan,44611,1st,5,diesel,7-Speed,Automatic,657000
1,2,Hyundai,2016,red,crossover,20305,1st,5,petrol,5-Speed,Manual,682000
2,3,Honda,2019,white,suv,29540,2nd,5,petrol,5-Speed,Manual,793000
3,4,Renault,2017,bronze,hatchback,35680,1st,5,petrol,5-Speed,Manual,414000
4,5,Hyundai,2017,orange,hatchback,25126,1st,5,petrol,5-Speed,Manual,515000

In [10]:
avg_price_table = pd.crosstab(
    index=df['Body_Type'], 
    columns=df['No_of_Owners'], 
    values=df['Price'], 
    aggfunc='mean'
)
print(avg_price_table)

No_of_Owners           1st            2nd       3rd
Body_Type
crossover     7.037500e+05  709400.000000       NaN
hatchback     5.547970e+05  429860.759494  348000.0
muv           6.350286e+05  526000.000000       NaN
sedan         8.201105e+05  768800.000000  785000.0
suv           1.212198e+06  912636.363636  830000.0